.detailContainer{
    margin: 20px 20px;
    padding: 15px 35px;
}

.volverDetail{
    display: flex;
    justify-content: left;
    /* align-items: center; */
    text-decoration: none;
    color:whitesmoke;
    background-color: #1976d2;
    margin-bottom: 35px;
    border-radius: 9999px;
    padding: 6px 15px 6px 8px;
    width: fit-content;
    font-weight: 600;
}

.volverDetail:hover{
    cursor: pointer;
    text-decoration: underline;
}

.detailLeft{
    text-align: left;
}
.detailContainerArticles{
    /* display: flex;
    justify-content: center;
    align-items: flex-start; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 6px;
    grid-row-gap: 0px;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 25px;
    -webkit-box-shadow: 1px 6px 13px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 6px 13px -2px rgba(0,0,0,0.75);
    box-shadow: 1px 6px 13px -2px rgba(0,0,0,0.75);
}

.detailTitle{
    text-align: left;
    padding: 0px 20px;
    font-weight: 500;
}

.detailPrice{
    margin: 0px;
    padding-left: 25px ;
    text-align: left;
    font-weight: 300;
    font-size: 45px;
}

.detailScore{
    margin: 0px 0px 10px 0px;
    padding-left: 25px ;
    text-align: left;
    font-weight: 400;
    font-size: 20px;
}

.detailDescription{
    margin-top: 0px;
    text-align: left;
    padding-left: 25px;
    color: rgb(82, 82, 82);
}

.detailImagen{
    border-radius: 5px;
    display: grid;
    grid-template-columns: 90% 10%;
    justify-content: center;
    /* align-items: center; */
    /* overflow: hidden; */
    /* height: 400px; */
    /* width: 50%; */
    width: 90%;
}

.detailImagen img{
    border-radius: 5px;
    width: 95%;
    justify-self: center;
}

img:hover{
    cursor: pointer;
}

.imgMiniatura{
    margin-left: -10px;
    height: 70px;
    /* width: 70px; */
}
.ContainerMiniaturas{
    /* margin-left: -10px; */
    /* height: 70px; */
    width: 80px;
}

.imgMiniatura:hover{
    border: 2px solid rgb(45, 143, 255);
}

.detailButton{
    padding-left: 25px;
    margin-top: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

.detailMargin{
    margin-top: 50px;
}

.buttonMargin{
    margin: 0px;
    padding: 0px;
    margin-right: 10px;
}

.detailContainerOpinion{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 5px;
}

.opinionContainer{
    display: flex;
    align-items: left;
    margin-bottom: 30px;

}

.opinionContainerSpan{
    margin-left: 25px;
}

.opinionTitle{
    padding-left: 25px;
    font-weight: 350;
    color: rgb(82, 82, 82);
}

.opinionCard{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 40% 60%;
    width: 100%;
    align-items: center;
}
.relatedTitle{
    display: flex;
    margin-left: 30px;
    margin-bottom: 0%;
    font-weight: 350;
    color: rgb(82, 82, 82);
}
.divFormOpinions{
    margin-left: 500px;
    margin-bottom: 30px;
}

.divBttnsOpinions{
    margin-left: 490px;
    margin-bottom: 20px;
}
.stoocks{
    font-size: medium;
    font-weight: 500;
    color: rgb(4, 140, 29);
}
.waarning{
    font-size: medium;
    color: rgb(227, 31, 31);
    font-weight: 500;
}
.pocostock{
    font-size: medium;
    color: rgb(240, 96, 24);
    font-weight: 500;
}

.opinionStars{
    text-align: left;
    
}



@media screen and (max-width: 600px){
    .detailContainer{
        padding: 0px;
    }
    
    .detailContainerArticles{
        display: flex;
       flex-direction: column-reverse;
    }

    .detailTitle{
        text-align: center;
        padding: 0px 10px;
        
    }
    .detailButton{
        justify-content: center;
        padding-left: 0%;
        width: 100%;
    }
    .opinionContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 30%;
    }
    .opinionTitle{
        display: flex;
        margin-left: 25%;
    }
    .opinionDescription{
        text-align: center;
    }
    .opinionStars{
        text-align: center;
    }
    .divFormOpinions{
        width: 185px;
        margin-left: 50%;
        margin-bottom: 30px;
    }
    .divBttnsOpinions{
        margin-left: 25%;
    }
    .relatedTitle{
        margin-right: 0px;
        
    }
    .relatedProductsFlex{
        justify-content: center;
    }
    .opinionComment{
        display: flex;
    }
}