.detailContainer{
    margin: 20px 20px;
    padding: 15px 35px;
}

.detailLeft{
    text-align: left;
}
.detailContainerArticles{
    /* display: flex;
    justify-content: center;
    align-items: flex-start; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 6px;
    grid-row-gap: 0px;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 25px;
    -webkit-box-shadow: 1px 6px 13px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 6px 13px -2px rgba(0,0,0,0.75);
    box-shadow: 1px 6px 13px -2px rgba(0,0,0,0.75);
}

.detailTitle{
    text-align: left;
    padding: 0px 20px;
    font-weight: 500;
}

.detailPrice{
    margin: 0px;
    padding-left: 25px ;
    text-align: left;
    font-weight: 300;
    font-size: 45px;
}

.detailScore{
    margin: 0px 0px 10px 0px;
    padding-left: 25px ;
    text-align: left;
    font-weight: 400;
    font-size: 20px;
}

.detailDescription{
    margin-top: 0px;
    text-align: left;
    padding-left: 25px;
    color: rgb(82, 82, 82);
}

.detailImagen{
    border-radius: 5px;
    display: grid;
    grid-template-columns: 90% 10%;
    justify-content: center;
    /* align-items: center; */
    /* overflow: hidden; */
    /* height: 400px; */
    /* width: 50%; */
    width: 90%;
}

.detailImagen img{
    border-radius: 5px;
    width: 95%;
    justify-self: center;
}

img:hover{
    cursor: pointer;
}

.imgMiniatura{
    margin-left: -10px;
    height: 70px;
    /* width: 70px; */
}
.ContainerMiniaturas{
    /* margin-left: -10px; */
    /* height: 70px; */
    width: 80px;
}

.imgMiniatura:hover{
    border: 2px solid rgb(45, 143, 255);
}

.detailButton{
    padding-left: 25px;
    margin-top: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

.detailMargin{
    margin-top: 50px;
}

.buttonMargin{
    margin: 0px;
    padding: 0px;
    margin-right: 10px;
}

.detailContainerOpinion{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 25px;
    -webkit-box-shadow: 1px 6px 13px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 6px 13px -2px rgba(0,0,0,0.75);
    box-shadow: 1px 6px 13px -2px rgba(0,0,0,0.75);
}

.opinionContainer{
    display: flex;
    align-items: left;
    margin-bottom: 30px;
    flex-direction: column;
    text-align: left;
}

.opinionContainerSpan{
    margin-left: 25px;
}

.opinionTitle{
    padding-left: 25px;
    margin-bottom: 40px;
    font-weight: 400;
}

.opinionCard{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 40% 60%;
    width: 100%;
    align-items: center;
}
.relatedTitle{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px;
    margin-right: 650px;
    margin-bottom: 0%;
    font-weight: 350;
    color: rgb(82, 82, 82);
}
.divBttnsOpinions{
    margin-left: 15px;
}
.stoocks{
    font-size: medium;
    font-weight: 500;
    color: rgb(4, 140, 29);
}
.waarning{
    font-size: medium;
    color: rgb(227, 31, 31);
    font-weight: 500;
}
.pocostock{
    font-size: medium;
    color: rgb(240, 96, 24);
    font-weight: 500;
}

.opinionStars{
    text-align: left;
    
}