.CommentTitle{
    text-align: center;
    padding-left: 25px;
    margin-top: 20px;
    color: rgb(82, 82, 82);
}

.commentTextarea{
    width: 70%;
    height: 50px;
    margin-bottom: 0px;
    border-radius: 10px;
}

.commentLength{
    color: rgb(82, 82, 82);
    font-size: 14px;
    font-weight: 600;
    margin-right: 80px;
    text-align: right;
    margin-top: 0px;
}

.commentButton{
    padding-left: 25px;
    margin-top: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

