.table{
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px;
}
.categorie_card{
    margin: 5px;
    width: 370px;
    height: 220px;
}
.categorie_card:hover{
    background-color: rgb(239, 237, 237);
    cursor: pointer;
}

.categoryIcon{
    position: relative;
    left: 110px;
    top: 15px;
}

.categorie{
    position: relative;
    color: rgb(49, 49, 49);
    position: relative;
    top: 15px;
}

@media screen and (max-width: 600px){
    .table{
        display: block;
        grid-template-columns: repeat(3, 1fr);
        margin: 50px;
        position: relative;
        left: 5%;
    }
    .categorie_card{
        width: 270px;
        position: relative;
        right: 2%;
    }
    .categoryIcon{
        position: relative;
        left: 22%;
        top: 15px;
    }
}