.divContainer {
    display:grid;
    grid-auto-flow: row;

}


.title {
    margin-left: 65px;
    font-weight: 600;
    font-size: 25px;
    color: rgb(82, 82, 82);
    display:flex;
    justify-content: flex-start ;
}

.MuiButtonBase-root:disabled {
    cursor: not-allowed;
    pointer-events: auto;
  }

  


