.homeTitle{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-right: 850px;
    margin-bottom: 0%;
    font-weight: 350;
    color: rgb(82, 82, 82);
}

.homeTable{
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px;
}


@media screen and (max-width: 600px){
    .homeTable{
        display: inline-grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 3%;
    }
    .homeTitle{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-right: 0%;
        margin-bottom: 0%;
        font-weight: 350;
        color: rgb(82, 82, 82);
    }
}