.brandTable{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.brandTitle{
    display: flex;
    justify-content: center;
    font-weight: 350;
    color: rgb(82, 82, 82);
}

@media screen and (max-width: 600px){

}
