.categorieTitle{
    display: flex;

    margin-left: 30px;
    margin-bottom: 0%;
    font-weight: 350;
    color: rgb(82, 82, 82);
}

@media screen and (max-width: 600px){
    .categorieTitle{
        right: 0px
    }
}