.brandCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    margin-right: 10px;
    padding-right: 10px;
}

.brandCard:hover{ 
    transition: .2s;
    transform: translate(-5%);
    cursor: pointer;
}

.brandName{
    display: flex;
    font-weight: 500;
}

@media screen and (max-width: 600px){

}