.categorieTable{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 40%;
    min-height: 100vh;
}

.volverCategorie{
    display: flex;
    justify-content: left;
    /* align-items: center; */
    text-decoration: none;
    color:whitesmoke;
    background-color: #1976d2;
    margin-bottom: 30px;
    margin-top: 10px;
    border-radius: 9999px;
    padding: 6px 15px 6px 8px;
    width: fit-content;
    font-weight: 600;
}

.volverCategorie:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* .categorieFilters{
    width: 200px;
    height: 93%;
    position: relative;
    top: 20px;
    color:rgb(82, 82, 82);
    margin-left: 15%;
    border-right: 1.4px solid rgb(154, 154, 154);
    text-align: start;
} */

.categorieFilters{
    padding-left: 15%;
    width: 200px;
    height: 100%;
    position: relative;
    padding-top: 40px;
    text-align: start;
    background-color: white;
    z-index: 1;
    box-shadow: 5px -5px 10px 0px rgba(161,159,159,0.99);
    -webkit-box-shadow: 5px -5px 10px 0px rgb(161 159 159 / 99%);
    -moz-box-shadow: 5px -5px 10px 0px rgba(161,159,159,0.99);
    -moz-box-shadow: 5px -5px 10px 0px rgba(161,159,159,0.99);
}

.productsByCategorie{
    margin-left: 10%;
    width: 1000px;
}

.categorieTitle{
    display: flex;
    font-weight: 350;
    color: rgb(82, 82, 82);
}

.priceFilter, .ratingFilter{
    margin: 8%;
    margin-left: 0%;
    font-size: 16px;
    font-weight: 600;
    font-style: oblique;
}

.buttonsTable{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.filterButtons,.ratingButtons {
    border: 1px solid;
    border-radius: 9999px;
    padding: 4px 8px;
    color: rgb(82, 82, 82);
    background: none;
    margin-bottom: 9px;
    font-size: smaller;
    background-color: snow;
}



.filterButtons:hover, .filterButtons:focus{
    cursor: pointer;
    background-color: #1976d2;
    border-color: #1976d2;
    border-radius: 9999px;
    color: whitesmoke;
}

.ratingButtons:hover, .ratingButtons:focus{
    cursor: pointer;
    background-color: #1976d2;
    border-radius: 9999px;
    border-color: #1976d2;
    color: whitesmoke;
}

.categorieProductsTable{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

@media screen and (max-width: 600px){
    .categorieTable{
        display: flex;
        flex-wrap:wrap;
        width: 100%;
    }
    .categorieFilters{
        padding-left: 15%;
        width: 100%;
        height: 100%;
        padding-top: 40px;
        text-align: start;
        background-color: white;
        z-index: 1;
        box-shadow: 5px -5px 10px 0px rgba(161,159,159,0.99);
        -webkit-box-shadow: 5px -5px 10px 0px rgb(161 159 159 / 99%);
        -moz-box-shadow: 5px -5px 10px 0px rgba(161,159,159,0.99);
        -moz-box-shadow: 5px -5px 10px 0px rgba(161,159,159,0.99);
    }
    .categorieTitle{
        display: flex;
        justify-content: center;
        font-weight: 350;
        color: rgb(82, 82, 82);
    }
    .categorieProductsTable{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}