.footerContainer{
    background-color: rgb(24, 23, 23);
    height: fit-content;
    padding: 20px;
    width: 100wh;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    color: antiquewhite;
}

.footerContainer h3{
    text-align: center;
}

.footerList{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.footerList li{
    padding-bottom: 8px;
}

.footerContact p{
    margin: 0px;
    padding: 0px;
    padding-bottom: 8px;
}

.footerSocial{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footerSocialIcon ul{
    margin: 0px;
    padding: 0px;
    display: flex;

   
}

.footerSocialIcon ul li{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    margin-left: 12px;
}

.footerLinkedin{
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
    flex-direction: row;
}

.footerLinkedinTitle{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.footerLinkedinItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footerLinkedinItem ul{
    text-decoration: none;
    list-style: none;
}
.footerLinkedinItem ul li{
    margin: 0px;
    padding: 0px;
   display: flex;
   justify-content: left;
   align-items: center;
}
.footerLinkedinItem ul li h6{
    margin: 0px;
    margin-left: 8px;
    padding: 0px;
   
}

.footerLinkedinItem ul li a{
    text-decoration: none;
    color: antiquewhite;
   
}
