.cartcontainer{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    justify-items: start;
    align-items:center;
    justify-content: center;
    margin-bottom: 10px;
    border-top: 1px solid rgb(138, 138, 138);
    background-color:  rgb(225, 225, 225);
    -webkit-box-shadow: 1px 6px 13px -2px rgba(48, 48, 48, 0.75);
    -moz-box-shadow: 1px 6px 13px -2px rgba(48, 48, 48, 0.75);
    box-shadow: 1px 6px 13px -2px rgba(48, 48, 48, 0.75);
}

.totalcontainer{
    width: 90px;
    margin-left: 20px;
}

.itemcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    width: 120px;
}
.img{
    border-radius: 5px;
    margin: 3px;
}
.btn{
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin: 3px;
    background-color:#1976d2;
    border: none;
    color: whitesmoke
}
.btn:hover{
    background-color:#1861ab;
}
.numbox{
    color: rgb(82, 82, 82);
    border-radius: 5px;
    margin: 3px;
}
.erase{
    align-self: baseline;
    border-radius: 5px;
    border: none;
    background-color: rgb(253, 62, 62);
    color: whitesmoke
}
.erase:hover {
    background-color:   rgb(137, 134, 134);
    color:rgb(21, 21, 21);
    cursor: pointer;
    }
.totalcontainer{
    padding-left: 10px;
    text-align: baseline;
}
.qtty{
    margin: 4px;
    color: rgb(82, 82, 82);
}
.check{
    cursor: pointer;
    margin: 4px;
    margin-bottom: 6px;
    border-radius: 5px;
    border: none;
    background-color:#1976d2;
    color: whitesmoke;
    padding: 3px;
}
.check:hover{
    background-color:#1861ab;
    cursor: pointer;
}
.check:disabled{
    cursor: not-allowed;
}

@media screen and (max-width: 600px){
    .cartcontainer{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}