.container{
    margin: 50px auto;
    width: fit-content;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border: 2px gray solid;
    border-radius: 5px;
    padding: 30px;
}
.search{
    max-height: max-content;
    padding-inline: 50px;
}
.searchlabel{
    margin-bottom: 15px;
    padding-right: 8px;
    font-weight: 600;
}
.searchinput{
    padding-left: 8px;
    height: 25px;
    margin-right: 8px;
    border-radius: 5px;
    border:none;
    border-bottom: 1px gray solid;
}
.searchbtn{
    cursor: pointer;
    border-radius: 5px;
    border:none;
    background-color: #1976d2;
    color: white;
    font-size: 15px;
    line-height: 1.75;
    text-decoration: none;
    box-sizing: border-box;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.resultcontainer{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.itemscontainer{
    display: inline-grid;
    grid-template-columns: 30px 300px 40px 30px 50px 70px;
    margin: 15px;
    align-items: center;
}
.stockinput{
    margin-inline-start: 5px;
    padding-left: 8px;
    height: 25px;
    margin-right: 8px;
    border-radius: 5px;
    border:none;
    border-bottom: 1px gray solid;
}