.link{
    text-decoration: none;
    color: rgb(118, 118, 118)
}

link:hover{
    cursor: pointer;
}

@media screen and (max-width: 600px){
    .menuIcon{
        width: 30;
        position: 'relative';
        top: '5px';
    }
}
